body{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(18rem,1fr));
    gap:1rem;
    
}
#Card{
    border-radius: 15px;
    overflow: hidden;
    background-image: linear-gradient(to right,skyblue,blue,violet);
    box-shadow: 5px 5px 20px rgb(139, 133, 133);
    
}
#buttons{
    
    border-left-style: double;
    border: 0.5px solid black;
    border-left-width:medium;
    border-top-width: medium;
}
img{
    width: 100%;
    height:150px
}